@import "compass/css3";
.chat_backboard {
    background-color: #afafaf;
    opacity: .9;
    width: auto;
    height: 415px;
    margin-bottom: 64px;
    /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 50);*/
}

.opaque {
    opacity: 0;
}

.chat_gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow);
    /* Standard syntax */
    /*    background: -moz-linear-gradient(bottom,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%);
    background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
    background: -o-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
    background: -ms-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
*/
}

.user_display {
    padding-left: 74px;
    font-size: 30px !important;
    font-weight: medium !important;
    color: #fff !important;
    display: inline-block;
}

.message_board {
    /*background-color: #fff;*/
    width: auto;
    height: 302px;
    opacity: 1 !important;
    /*box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 1);*/
    position: relative;
    overflow: scroll;
}

.message {
    width: auto;
    height: 40px;
    position: relative;
    padding-left: 15px;
}

.my_message {
    opacity: 1 !important;
    width: auto;
    height: 40px;
    position: relative;
    text-align: right;
    padding-right: 18px;
}

.sender_name_bold {
    font-size: 110%;
    font-weight: 700;
}

.nav_bar_main {
    background-color: #424242;
    height: 50px;
}

.chat_title {
    font-size: 36px !important;
    font-weight: medium !important;
    color: #fff !important;
    opacity: 1 !important;
    padding-top: 10px;
    padding-left: 24px;
    padding-bottom: 0px;
}

.h1-white {
    font-size: 36px !important;
    font-weight: medium !important;
    color: #fff !important;
}

.white {
    color: #fff !important;
}

.input_radio {
    width: 216px;
    height: 30px;
    padding-left: 12px;
    padding-right: 184px;
    padding-bottom: 74px;
    color: #424242;
    font-size: 18px;
    font-weight: medium;
    display: inline-block;
}

.input_message {
    opacity: .75;
    width: 600px;
    height: 40px;
    background-color: #bfbfbf;
    border: none;
    color: #424242;
    font-size: 20px;
    padding: 12px;
}

.input_message::placeholder {
    opacity: .6;
    color: #000000;
}

.input_add {
    box-sizing: border-box;
    width: 345px;
    height: 50px;
    opacity: .25;
    background-color: #bfbfbf;
    border-color: #C2C2C2;
    border-width: 2px;
    color: #000;
    border-style: solid;
    font-size: 20px;
    padding: 12px;
}

.input_add::placeholder {
    color: #C2C2C2;
}

.messages_gradient {
    background: linear-gradient(to top, white 30%)
}

.btn_send {
    opacity: .75;
    border: none;
    color: #2196F3;
    background-color: #bfbfbf;
    width: 75px;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}

.btn_main {
    margin-left: 12px;
    border: none;
    color: #fff;
    background-color: #2196F3;
    width: 136px;
    height: 50px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}

.btn_main:hover {
    border: none;
    color: #fff;
    background-color: #1576C3;
}

.btn_second {
    margin-bottom: 64px;
    border-width: 1px;
    border-color: #717171;
    color: #717171;
    background-color: #fff;
    width: 174px;
    height: 50px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 50);
}

.btn_second:hover {
    color: #fff;
    background-color: #717171;
    box-shadow: 0 -1px 0px 0 rgba(0, 0, 0, 50);
    animation: btn_fade .25s;
}

.sub_text {
    font-size: 14px;
    color: #9B9B9B;
    padding-bottom: 12px;
    padding-top: 24px;
}

.cursor_pointer {
    cursor: pointer;
}

.login_screen_background {
    background: #4286f4;
    height: 100vh;
}

.login_text_display {
    font-size: 36pt;
    text-align: center;
    font-weight: 700;
}

.login_username_input {
    width: 100%;
}

.info_text {
    font-size: 14px;
    color: #9B9B9B;
    padding-top: 12px;
    padding-bottom: 80px;
}

.sub_btn_text {
    padding-left: 12px;
    font-size: 24px;
    color: #989898;
    font-weight: medium;
}

.lead_text {
    font-size: 24px;
    color: #424242;
}

.lead_sub_text {
    padding-left: 12px;
    font-size: 24px;
    color: #989898;
    font-weight: medium;
}

.vertical_break_min {
    margin-right: -15px;
    margin-left: -15px;
    height: -5px;
}

.vertical_break_sm {
    margin-right: -15px;
    margin-left: -15px;
    height: 12px;
}

.vertical_break_md {
    margin-right: -15px;
    margin-left: -15px;
    height: 24px;
}

.vertical_break_lg {
    margin-right: -15px;
    margin-left: -15px;
    height: 48px;
}

.vertical_break_hg {
    margin-right: -15px;
    margin-left: -15px;
    height: 128px;
}

.minus_padding {
    padding: 0px !important;
}

.minus_padding_bottom {
    padding-bottom: 0px !important;
}

.message_name_display {
    font-size: 110%;
    font-weight: 700;
    padding-bottom: 1px;
    margin-bottom: 0px;
}

.message_text_display {
    padding-top: 1px;
    margin-top: 0px;
    margin-right: -8px;
}

.my_message_text_display {
    padding-top: 1px;
    margin-top: 0px;
    margin-left: -8px;
}

.radio_btn_spl {
    height: 30px;
    width: 30px;
    background: url('./img/BitBurger_radio_btn_unchecked.png');
}

.chat_gradient {
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
}

.u-fontsize-24 {
   font-size: 24px;
   font-weight: 500;
}

.u-fontsize-36 {
   font-size: 36px;
   font-weight: 500;
}

.u-fontsize-18 {
   text-align: right;
   font-size: 18px;
   font-weight: 200;
}

.u-heightsize-41 {
   height: 41px;
   width: 460px;
}

.u-fontStyle {
   font-family: Arial;
}

​ body {
    color: #444;
    font: 100%/1.4 sans-serif;
}




/* CUSTOM RADIO & CHECKBOXES
   http://stackoverflow.com/a/17541916/383904 */

.rad,
.ckb {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.rad>input,
.ckb>input {
    /* HIDE ORG RADIO & CHECKBOX */
    visibility: hidden;
    position: absolute;
}



/* RADIO & CHECKBOX STYLES */

.rad>i,
.ckb>i {
    /* DEFAULT <i> STYLE */
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.2s;
    box-shadow: inset 0 0 0 8px #fff;
    border: 1px solid gray;
    background: gray;
}



/* CHECKBOX OVERWRITE STYLES */

.ckb>i {
    width: 25px;
    border-radius: 3px;
}

.rad:hover>i {
    /* HOVER <i> STYLE */
    box-shadow: inset 0 0 0 3px #fff;
    background: gray;
}

.rad>input:checked+i {
    /* (RADIO CHECKED) <i> STYLE */
    box-shadow: inset 0 0 0 3px #fff;
    background: orange;
}



/* CHECKBOX */

.ckb>input+i:after {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    margin: 2px;
    border-radius: inherit;
    transition: inherit;
    background: gray;
}

.ckb>input:checked+i:after {
    /* (RADIO CHECKED) <i> STYLE */
    margin-left: 11px;
    background: orange;
}


@keyframes btn_fade {
    0% {
        color: #717171;
        background-color: #fff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 50);
    }
    100% {
        color: #fff;
        background-color: #717171;
        box-shadow: 0 -1px 0px 0 rgba(0, 0, 0, 50);
    }
}