.nav_bar_main {
    background-color: #424242;
   height: 50px;
}

.h1-white{
    font-size: 36px !important;
    font-weight: medium !important;
    color: #fff !important;
}

.white{
    color: #fff !important;
}
